{% extends 'base.html' %}
{% block title %}Gerador de Nuvem de Palavras{% endblock %}
{% block main %}
    <h2>Nuvem gerada com sucesso!!</h2>
    <p>Usuário: {{ doc.nome}}</p>
    <p>Linguagem reconhecida: {{ doc.language }}</p>
    <p><a href="{{ doc.texto}}">Arquivo Texto Otimizado</a></p>
    <p><a href="{{ doc.csv }}">Arquivo de Frequência</a></p>
    <div style="margin-bottom: 10px">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Layout</button>
    </div>
    <img src="{{ nuvem }}" alt="" height="500">

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Layout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="form-group">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01" name="">
                <label class="custom-file-label" for="inputGroupFile01">Escolha uma Imagem</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Descrição:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
{%endblock%}

