{% extends 'base.html' %}
{% block title %}Gerador de Nuvem de Palavras{% endblock %}
{% load bootstrap %}
{% block extrastyle %}
    <style>
        input#inputGroupFile01{
            margin-top: 5px;
        }
        .form-group{
            margin-top: 10px;
        }
        .modal-header{
            margin-bottom: 16px;
        }
        label.custom-file-label {
            margin-top: 6px;
        }
    </style>
{% endblock %}
{% block main %}
    {% if messages %}
        {% for message in messages %}
              {% if message.tags %}<div class="alert alert-{% if message.tags == 'error' %}danger{%else%}{{message.tags}}{%endif%} alert-dismissible fade show mt-3" role="alert">{{message}}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>{% endif %}
        {% endfor %}
    {% endif %}
    <h2 style="margin-top: 20px">
        {% if doc.descritivo%}
            {{ doc.descritivo }}
        {% else %}
        Nuvem gerada com sucesso!!
        {% endif %}
    </h2>

    <img src="{{ nuvem }}" alt="" height="500">
    <p>Usuário: {{ doc.nome}}</p>
    <p>Linguagem reconhecida: {{ doc.language }}</p>
    <p><a href="{{ doc.texto}}">Arquivo Texto já sem as stopwords</a></p>
    <p><a href="{{ doc.csv }}">Arquivo de Frequência</a></p>

    {% if show %}
    <div style="margin-bottom: 10px">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Alterar Layout</button>
    </div>
    {% endif %}

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Layout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="input-group">
              <div class="custom-file">
                {{ form.imagem|bootstrap }}
                <label class="custom-file-label" for="inputGroupFile01" id="id_label_img">{% if doc.imagem %}{{ doc.imagem.name }}{% else %}Escolha uma Imagem{% endif %}</label>
              </div>
            </div>
          <div class="form-group">
            {{ form.descricao|bootstrap }}
          </div>
          <div class="form-group">
            {{ form.stopwords|bootstrap }}
          </div>
            {{ form.cores|bootstrap }}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}
{% block extrascript %}
    <script>
        document.querySelector('#inputGroupFile01').addEventListener('change', e => {
            let checkbox = document.querySelector('#id_cores');
            let label = document.getElementById('id_label_img')
            if (e.target.value){
                label.innerText =e.target.files[0].name;
            }else{
                label.innerText = 'Escolha uma Imagem';
            }
            checkbox.checked = !!e.target.value;
        });
    </script>

{% endblock %}

