{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} teste {% endblock %}

{% block main %}

<div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
                <br><h1>Gerar Nuvem</h1><br>
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}

                <br><button type="submit" class="btn btn-info">Salvar</button>

                </form>
        </div>
        <div class="col-sm">

        </div>
</div>



{% endblock %}





