{% extends 'base.html' %}
{% load bootstrap static %}
{% block title %}Gerador de Nuvem de Palavras{% endblock %}
{% block main %}
<style>
    span.help-block {
        color: red;
        display: block;
        font-size: 14px;
    }
</style>
     {% if messages %}
            {% for message in messages %}
              {% if message.tags %}<div class="alert alert-{% if message.tags == 'error' %}danger{%else%}{{message.tags}}{%endif%} alert-dismissible fade show mt-3" role="alert">{{message}}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>{% endif %}
            {% endfor %}
    {% endif %}
<div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <br/>
            <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    {{ form.media }}
                    {% if recaptcha %}
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="{{ recaptcha }}" ></div>
                    {% endif %}
                    <br><button type="submit" class="btn btn-info">Enviar</button>
            </form>
        </div>
   <div class="col-sm-2"></div>
</div>
<div class="row">
   <div class="col-sm-2"></div>
   <div class="col-sm-8">
    <br/>
    <p>Instruções:</p>
    <ul>
        <li>Indique o seu nome e email para que a equipe do Larhud possa entrar em contato com você</li>
        <li>Selecione um ou mais arquivos no formato PDF ou TXT</li>
        <li>Para que a nuvem faça sentido, envie os arquivos em um único idioma</li>
        <li>A geração da nuvem de palavras consegue identificar qual o idioma dos arquivos e remove stopwords baseada na linguagem identificada.</li>
        <li>Cabeçalhos e rodapés de artigos já são identificados e removidos automaticamente</li>
        <li>Caso tenha dúvidas ou sugestões, envie email para <a href="mailto:josir@irdx.com.br">josir@irdx.com.br</a></li>
    </ul>
   </div>
   <div class="col-sm-2"></div>
</div>

{% endblock %}





